/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'pop';
  src: url(./../static/fonts/josefin-slab/JosefinSlab-SemiBoldItalic.ttf);
}

body {
  margin: 0;
}
.post-content img {
  width: 600px;
  height: auto;
}

* {
  font-family: 'pop';
}
