@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'pop';
  src: url(./../static/fonts/josefin-slab/JosefinSlab-SemiBoldItalic.ttf);
}
/* @font-face {
  font-family: 'semibold';
  src: url(./../static/fonts/josefin-slab/JosefinSlab-SemiBold.ttf);
} */


body {
  margin: 0;
}
